<html xmlns="http://www.w3.org/1999/html">
<title>Tweet Map</title>
<h1 align="center"></b>Twitt Map Assignment Cloud</b> </h1>

<body style="background-image:url(https://www.seoclerk.com/pics/207254-1FVbuE1397547503.jpg)">



<div style="height: 100px; margin-left:10px; margin-top:350px;padding: 0px; text-align:center;">
            <form name="form" action="." method="post">{% csrf_token %}

                <select style="width: 150px; height:25px; "name="key_word">
                    <option value="health"><b>Health</b></option>
                    <option value="trump"><b>Trump</b></option>
                    <option value="harvey"><b>Entertainment</b></option>
                    <option value="travel"><b>Travel</b></option>
                    <option value="lol"><b>Fun</b></option>
                    <option value="money"><b>Sports</b></option>
                    <option value="money"><b>Bollywood</b></option>
                    <option value="modi"><b>Politics</b></option>
                    <option value="https"><b>Info</b></option>
                    <option value="technology">Technology</option>

                </select>
                <input  class="btn btn-info" type="submit" value="Submit" />

            </form>
</div>





</body>
</html>
